<h2><%= @attraction.name %></h2>

<%= @attraction.tickets %>
<%= @attraction.nausea_rating %>
<%= @attraction.happiness_rating %>
<%= @attraction.min_height %>

<%= button_to "Go on this ride", current_user, method: 'post' %>

