<h2><%= @attraction.name %></h2>

<%= @attraction.tickets %>
<%= @attraction.nausea_rating %>
<%= @attraction.happiness_rating %>
<%= @attraction.min_height %>

<button>Go on this ride</button>

